Package: wsh-dbgsym
Package-Type: ddeb
Source: wsh
Version: 1.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Witherking25 <Witherking@WitherTech.com>
Installed-Size: 17
Depends: wsh (= 1.1-1)
Section: debug
Priority: optional
Description: debug symbols for wsh
Build-Ids: c96794ea74e06ba262162a37fadc6ebc3f46682f
